<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-screen w-full">
        <div class="flex items-center justify-center p-5 w-full flex-col bg-yellow-100 pt-10">
            <h1 class="text-5xl tracking-tighter">Find a Doctor<span class="text-teal-600">.</span></h1>
            <div class="input mt-10 w-full flex items-center justify-center gap-2">
                <input type="text" class="outline-none text-xl font-semibold px-4 py-2 rounded-md w-[20%] h-11">
            <button class="px-6 py-2 bg-blue-600 rounded-md text-white text-xl">Search</button>
            </div>
        </div>
        <div class="cards w-full px-20 py-10 flex flex-wrap gap-12">
            <% doctors.forEach(function(doc){ %>
                <div class="card overflow-hidden  w-[20%] rounded-lg">
                    <div class="img h-60 rounded-lg overflow-hidden  ">
                        <img class="h-full w-full object-cover" src="/uploads/<%=doc.image%>" alt="">
                    </div>
                    <h3 class="text-xl mt-4 font-bold"><%= doc.name %></h3>
                    <div class="specialization mt-4 w-full flex justify-between items-center">
                        <div class="px-6 py-2 w-fit rounded-md bg-blue-200 text-white"><h2 class="text-blue-500 font-bold"><%= doc.specialization %></h2></div>
                        <div class="flex gap-1 items-center justify-center">
                            <h4 class="text-md font-bold">⭐</h4>
                            <h4 class="text-md font-bold">4.5</h4>
                            <h4 class="text-md font-bold">(2)</h4>
                        </div>
                    </div>
                    <div class="add mt-4">
                        <h3 class="text-sm opacity-70 tracking-tighter font-semibold "><%= doc.qualifications %></h3>
                    </div>
                    <div class="view-profile mt-5 flex w-full  items-center ">
                        <a  class="text-md px-4 py-2 bg-teal-600 rounded-lg font-semibold" href="/DoctorProfile/<%=doc._id%>">View Profile</a>
                    </div>
                </div>

           <% }) %>
            
            
        </div>
    </div>
    
</body>
</html>