<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor's Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main min-h-screen w-full flex bg-[#F5EEE6]">
      <div class="left w-[50%] h-full pt-20 pb-16 pl-32">
        <div class="docter-profile flex w-full">
          <div
            class="img h-[30vh] w-[15vw] overflow-hidden rounded-lg bg-purple-400"
          >
            <img
              class="h-full w-full object-cover"
              src="/uploads/<%=doctor.image%>"
              alt=""
            />
          </div>
          <div class="doc-info px-5 py-10">
            <div class="px-8 py-2 w-fit rounded-md bg-blue-100 text-white">
              <h2 class="text-blue-700 font-bold"><%=doctor.specialization%></h2>
            </div>
            <h3 class="text-xl mt-3 font-bold uppercase"><%=doctor.name%></h3>
            <div class="flex gap-1 items-center">
              <h4 class="text-md font-bold">⭐</h4>
              <h4 class="text-md font-bold">4.5</h4>
              <h4 class="text-md font-bold">(2)</h4>
            </div>
            <h4 class="opacity-75 mt-4 font-semibold text-sm">
              specialization in <%=doctor.specialization%>
            </h4>
          </div>
        </div>
        <div class="about mt-6">
          <h1 class="text-4xl uppercase font-semibold w-[90%]">About</h1>
          <hr class="bg-teal-700 h-[3px] mt-2" />
          <h3 class="text-2xl font-medium mt-5">
            About of
            <span class="text-teal-700 font-semibold uppercase"><%=doctor.name%></span>
          </h3>
          <p class="opacity-80 text-[18px] mt-3 w-[95%]">
            <!-- <%=doctor.about%> -->
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore voluptate vero nostrum culpa rem architecto reiciendis autem similique quas, id dolor quae veniam. Quaerat temporibus pariatur rerum iste velit minus magni. Earum doloribus, doloremque animi possimus et itaque. Asperiores illo, quidem nulla sint perspiciatis reprehenderit aspernatur suscipit dicta molestias unde.
          </p>
          
        </div>
        <div class="about mt-6">
          
          <hr class="bg-teal-700 h-[3px] mt-2" />
          <h3 class="text-2xl font-medium mt-5">
            
            <span class=" font-semibold uppercase">Qualification</span>
          </h3>
          <p class="opacity-80 text-[18px] mt-3 w-[95%]">
           <%=doctor.qualifications%> 
           
          </p>
          
        </div>
        <div class="about mt-6">
          
          <hr class="bg-teal-700 h-[3px] mt-2" />
          <h3 class="text-2xl font-medium mt-5">
            
            <span class=" font-semibold uppercase">Contact</span>
          </h3>
          <p class="font-semibold text-[18px] mt-3 w-[95%]">
            <!-- <%=doctor.about%> -->
            Phone :- <%=doctor.phone%>
          </p>
          <p class="font-semibold text-[18px] mt-1 w-[95%]">
            <!-- <%=doctor.about%> -->
            Email :- <%=doctor.email%>
          </p>
          
        </div>
       
      </div>
      <div class="right pl-10  pt-24 w-[50%] h-full ">
        <div class="card drop-shadow-2xl  rounded-lg p-3 w-[45%] bg-zinc-300">
          <div class="flex items-center justify-between">
            <h3 class="text-[18px] font-semibold text-zinc-900">Ticket Price</h3>
            <h4 class="text-[20px] font-semibold">$<%=doctor.ticketPrice%></h4>
          </div>
          <h3 class="text-[20px] mt-2 font-semibold">Available Time Slots:</h3>
          <div class="flex items-center justify-between mt-2">
            <h3 class="text-[18px] font-semibold text-zinc-900">Sunday:</h3>
            <h4 class="text-[18px] font-semibold text-zinc-900">4:30-9:30</h4>
          </div>
          <div class="flex items-center justify-between mt-2">
            <h3 class="text-[18px] font-semibold text-zinc-900">Tuesday:</h3>
            <h4 class="text-[18px] font-semibold text-zinc-900">4:30-9:30</h4>
          </div>
          <div class="flex items-center justify-between mt-2">
            <h3 class="text-[18px] font-semibold text-zinc-900">Thursday:</h3>
            <h4 class="text-[18px] font-semibold text-zinc-900">5:30-8:30</h4>
          </div>
          <a href="/paymentPage/<%=doctor._id%>">
            <div class="flex items-center justify-center bg-blue-500 rounded-md mt-4 py-3 text-xl text-white font-semibold">Book Appointment</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
